.navigation {
  height: 84px;

  background-color: $color-green;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__logo-link {
  width: 184px;
  height: 45px;

  background: $background-logo;

  &:hover {
    cursor: pointer;
  }
}

.navigation__list {
  display: flex;
  list-style-type: none;
}

.navigation__item {
  margin-left: 9px;

  font-weight: 500;
  font-size: 24px;

  color: $color-white;

  &:not(:nth-child(1))::before {
    content: '|';
    padding-right: 9px;
  }

  &:hover {
    color: $color-aqua;

    cursor: pointer;
  }
}