.problem {
  height: 719px;

  background-color: $color-gray;
}

.problem__content {
  padding-top: $padding-top-title;
  padding-bottom:  92px;
}

.problem__title {
  padding-bottom: 14px;
}

.problem__subtitle {
  line-height: 37px;
  font-size: 32px;
  text-align: justify;
}
