$color-green: #007564;
$color-gray: #ededed;
$color-dark-gray: #333333;
$color-white: #ffffff;
$color-aqua: #00FFFF;

$body-width: 1219px;
$content-width: 1110px;
$padding-top-title: 48px;

$background-header: url('../assets/images/background1.svg');
$background-description: url('../assets/images/background2.svg');
$background-logo: url('../assets/images/logo.svg');
$background-introducing__image: url('../assets/images/logo2.svg');
$background-employee1__avatar: url('../assets/images/employee1.svg');
$background-employee2__avatar: url('../assets/images/employee2.svg');
$background-employee3__avatar: url('../assets/images/employee3.svg');
$background-employee4__avatar: url('../assets/images/employee4.svg');
$background-employee5__avatar: url('../assets/images/employee5.svg');
$background-employee6__avatar: url('../assets/images/employee6.svg');